
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  html {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex; /*реализовано по аналогии с Бородинским, но до конца нет понимания, зачем именно здесь нужен flex*/
    flex-direction: column;
    min-height: 100%;
    background-color: #ffffff;
    color: #171515;;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    width: 1200px;
    text-align: center;
}
.main-container {
    flex-grow: 1;
  }
.main-header {
   display: flex;
   justify-content: space-between;
}

.menu-navigation {
    display: flex;
    margin: 0 auto;
    width: 1100px;
  }

  .item-navigation {
    list-style-type: none;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}

.list-navigation{
    display: flex;
   justify-content: space-between;
    width: 350px; /*поправить дланные, не нашла ширину*/
    margin: 0;
    padding: 0;

}

.list-communication{
    display: flex;
    justify-content: space-evenly;
    width: 400px; /*поправить дланные, не нашла ширину*/
    margin: 0;
    padding: 0;
    margin-left: auto;
}
.item-communication{
    list-style-type: none;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}
.link-logo{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: -10px;

}

.communication-link {
    text-transform: uppercase;
    color: #ffffff; /*Не работает.Не могу найти, где именно перебивается цвет*/
    background-color: #756157;
    margin: 5px;
    padding: 5px 25px;
    border-radius: 5px;

}
.page-container{
    width: 1200px;
  margin: 0 auto;
}
.welcome-img{
    display: block;
    margin: 0 auto;
    padding: 67px;
}

.main-text{
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 30px;
}
.basic-text {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;

}
/*Разметка преимуществ*/
.location-advantages {
    display: flex;
   justify-content: space-between;
}
.item-advantages-small{
    width: 230px;
    height: 160;
    padding: 80px;
    list-style-type: none;
}
.secondary-title{
    font-family: PT Sans, sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700
}
.main-feedback{
    width: 592px;
    margin: auto;
    margin-top: 70px; /*неизвестный отступ*/
    margin-bottom: 70px;
}
.button-feedback{
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
/*Ниже - от 17.06*/

.item-advantages-grand {
    background-color: #82B3D3; /* далее этот цвет переводим в формат rgba*/
    color: #ffffff;
}

.pale-element {
    background-color: rgba(131, 179, 211, 0.12);
    color: #171515;
}

.bright-element{
    background-color: rgba(131, 179, 211, 0.2);
    color: #171515;
}

.main-newsletter{
    background-image: url("../images/subscribe.jpg");
    background-repeat: no-repeat;
    height: 415px;
    width: 1200px;
    color: #ffffff;

}

.index-img {
    background-image: url("../images/index-background.jpg");
    background-repeat: no-repeat;
    height: 485px;
    width: 1200px;

}


.search-hotel {
    background-image: url("../images/catalog-background.jpg");
    background-repeat: no-repeat;
    height: 485px;
    width: 1200px;
    color: #ffffff;
}
.search-hotel span {
    color: #ffffff;
}

.menu-navigation a{
    font-family: "PT Sans", sans-serif;
    line-height: 24px;
    size: 20px;
    font-weight: 700;
    /*text-align: center;*/
    text-decoration: none;
    color: #171515;
}





.phone-footer a{
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    line-height: 40px;
    text-transform: uppercase;
    color: #171515;
    text-decoration: none;
}

.product-card-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    font-weight: 700
}

.hotels-found-card a{
    text-decoration: none;
    color: #171515;
}
.all-pages a {
    text-decoration: none;
    color: #171515;
    background-color:#82B3D3
}
